@tailwind base;
@tailwind components;
@tailwind utilities;

.fade-in {
  opacity: 1;
}

.fade-out {
  opacity: 0;
}
/* Add this CSS to your index.css or another CSS file */
.outline-text {
  text-shadow: -2px -2px 0 #000, 2px -2px 0 #000, -2px 2px 0 #000,
    2px 2px 0 #000, -2px 0 0 #000, 2px 0 0 #000, 0 -2px 0 #000, 0 2px 0 #000;
}
/* index.css */

body {
  background-color: #1a202c;
  color: #e2e8f0;
}

.container {
  max-width: 1200px;
  margin: 0 auto;
}

.shadow-lg {
  box-shadow: 0 10px 15px -3px rgba(0, 0, 0, 0.1),
    0 4px 6px -2px rgba(0, 0, 0, 0.05);
}

.shadow-2xl {
  box-shadow: 0 25px 50px -12px rgba(0, 0, 0, 0.25);
}

.cursor-pointer {
  cursor: pointer;
}

.bg-white {
  background-color: #ffffff;
}
/* index.css or Navbar.css */

.hover\:scale-110:hover {
  transform: scale(1.1);
}

.transition-transform {
  transition: transform 0.3s ease;
}

.bg-yellow-200:hover {
  background-color: #fbbf24; /* yellow-400 */
}

.hover\:bg-gray-700:hover {
  background-color: #374151;
}

.hover\:bg-gray-600:hover {
  background-color: #4b5563;
}
/* App.css */
body {
  font-family: "Arial", sans-serif;
  background-color: #f4f4f4;
}

.bg-white {
  background-color: #ffffff;
}

.text-gray-900 {
  color: #1a202c;
}

.text-gray-700 {
  color: #4a5568;
}

.bg-yellow-500 {
  background-color: #ecc94b;
}

.hover\:scale-105:hover {
  transform: scale(1.05);
}

.active\:scale-95:active {
  transform: scale(0.95);
}

.transition-transform {
  transition: transform 0.3s ease-in-out;
}

.shadow-lg {
  box-shadow: 0 10px 15px rgba(0, 0, 0, 0.1);
}

.rounded-lg {
  border-radius: 0.5rem;
}

.p-4 {
  padding: 1rem;
}

.mb-2 {
  margin-bottom: 0.5rem;
}

.mb-4 {
  margin-bottom: 1rem;
}

.w-full {
  width: 100%;
}

.h-48 {
  height: 12rem;
}

.h-32 {
  height: 8rem;
}

.object-cover {
  object-fit: cover;
}

.cursor-pointer {
  cursor: pointer;
}
